@model PcSoluciones.Models.ViewModel.ItinerarioVista.ItinerarioModel

@{
    ViewBag.Title = "Nuevo Itinerario";
}

<style>
    body {
        font-family: Arial, sans-serif;
        background-image: url('/pictures/FondoCm.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .container {
        max-width: 500px;
        padding: 70px;
    }

    form {
        background-color: #fff;
        padding: 20px;
        border-radius: 30px;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 300px;

    }

    .form-group {
        margin-bottom: 15px;
    }
</style>


                    <form>
                        <h2>@ViewBag.Title</h2>
                        <div class="form-group">
                            <label for="fecha_asignacion">Fecha de Asignación:</label>
                            <input type="date" id="fecha_asignacion" name="fecha_asignacion" class="form-control" required />
                        </div>

                        <div class="form-group">
                            <label for="descripcion">Descripción:</label>
                            <textarea id="descripcion" name="descripcion" class="form-control" required></textarea>
                        </div>

                        <div class="form-group">
                            <label for="num_cedulaTec">Cédula del Técnico:</label>
                            @Html.DropDownListFor(d => d.num_cedulaTec, (IEnumerable<SelectListItem>)ViewBag.NumCedulaList, "Seleccione una opción", new { @class = "form-control", id = "num_cedulaTec" })
                        </div>

                        <div class="text-center">
                            <button type="button" class="btn btn-primary" onclick="funInsertar()">Guardar</button>
                        </div>
                    </form>

<script>
    var url = "@Url.Content("~/Itinerario/Save")";

    function funInsertar() {
        fetch(url, {
            method: "POST",
            body: JSON.stringify({
                fecha_asignacion: document.getElementById("fecha_asignacion").value,
                descripcion: document.getElementById("descripcion").value,
                num_cedulaTec: document.getElementById("num_cedulaTec").value
            }),
            headers: {
                "Accept": "application/json",
                "Content-Type": "application/json"
            }
        }).then(function (response) {
            if (response.ok)
                return response.text()
            else
                alert("Error al ejecutar:(")
        }).then(function (Data) {
            if (Data != "1") {
                alert(Data)
            } else {
                window.location.href = '@Url.Content("~/Itinerario/Index")';
            }
        })
    }
</script>


