@{
    ViewBag.Title = "911 PC SOLUCIONES";
}
<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>911 PC SOLUCIONES</title>
    </head>

    <body>

        <header class="hero">
            <nav class="nav container">
                <div class="nav__logo">
                    <img src="~/pictures/Logo_Transparente.png" alt="Logo de la empresa" class="logo">
                </div>
            </nav>

            <section class="hero__container container">
                    <h1 class="hero__title">Sistema de registro para Servicio técnico</h1>
                    <p class="hero__paragraph">Tu solución para administrar la entrada y salida de computadoras de manera eficiente!</p>
            </section>
        </header>

        <main>
            <section class="container about">
                <h1 class="subtitle">Servicios</h1>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-4 service">
                            <div class="card">
                                <img src="~/pictures/Cliente.png" class="card-img-top" alt="Icono Cliente">
                                <div class="card-body text-center">
                                    <a href="@Url.Content("~/Usuario/Index")" class="btn btn-outline-light btn-lg btn-block custom-btn">
                                        <i class="fas fa-users"></i> Administrar clientes &raquo;
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 service">
                            <div class="card">
                                <img src="~/pictures/informe.png" class="card-img-top" alt="Icono Informe de Fallo">
                                <div class="card-body text-center">
                                    <a href="@Url.Content("~/InformeFallo/List")" class="btn btn-outline-light btn-lg btn-block custom-btn">
                                        <i class="fas fa-bug"></i> Informe Fallo &raquo;
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 service">
                            <div class="card">
                                <img src="~/pictures/computadora.png" class="card-img-top" alt="Icono Computadora">
                                <div class="card-body text-center">
                                    <a href="@Url.Content("~/Computadora/List")" class="btn btn-outline-light btn-lg btn-block custom-btn">
                                        <i class="fas fa-laptop"></i> Administrar Computadora &raquo;
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 service">
                            <div class="card">
                                <img src="~/pictures/ItinerarioM.png" class="card-img-top" alt="Icono Itinerario">
                                <div class="card-body text-center">
                                    <a href="@Url.Content("~/Itinerario/Index")" class="btn btn-outline-light btn-lg btn-block custom-btn">
                                        <i class="fas fa-map-marked-alt"></i> Administrar Itinerarios &raquo;
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>


<style>
    :root {
        --padding-container: 0px 0;
        --color-title: #001A49;
    }

    body {
        font-family: 'Poppins', sans-serif;
        margin: 0;
    }
    .container {
        width: 100%;
        max-width: 1500px;
        margin: 0 auto;
        overflow: hidden;
        padding: var(--padding-container);
    }
    main {
        padding-top: 40px;
    }

    .jumbotron {
        background-color: rgba(0, 0, 0, 0.8); /* Fondo semitransparente */
        padding: 20px 0;
        margin-bottom: 20px;
    }

    .service {
        margin-bottom: 30px;
    }

    .btn-primary {
        background-color: rgba(0, 0, 0, 0.8);
        border-color: #f0b184;
    }

    .card {
        background-color: transparent;
        border: none;
        border-radius: 10px; /* Agrega bordes redondeados */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega sombra */
    }

    .card-img-top {
        max-width: 150px;
        margin: auto;
    }

    .text-light {
        color: #ffffff;
    }

    .logo {
        display: block;
        margin: 20px auto;
        max-width: 600px;
    }

    .imag {
        display: block;
        margin: 20px auto;
        max-width: 1200px;
        max-height: 800px;
    }

    .text-contex {
        color: #273aaa;
        text-align: center;
        font-size: 50px;
        margin: 50px auto;
    }

    .text {
        color: rgb(0, 0, 0);
        font-family: 'Arial Unicode MS';
        text-align: center;
        font-size: 25px;
        margin: 25px auto;
        font-weight: bold;
        line-height: 1.5; /* Aumenta el espaciado entre líneas */
    }

    .custom-btn {
        background-color: #273aaa; /* Cambia el color a azul */
        border-color: #273aaa; /* Cambia el color del borde a azul */
        color: white; /* Cambia el color del texto a blanco */
        border-radius: 20px; /* Agrega bordes redondeados */
    }

        .custom-btn:hover {
            background-color: #656c93; /* Cambia el color de fondo al pasar el ratón por encima */
            border-color: white; /* Cambia el color del borde al pasar el ratón por encima */
        }

     /*
         Estilos para el encabezado
     */
    .hero {
        width: 100%;
        height: 100vh;
        min-height: 600px;
        max-height: 800px;
        position: relative;
        display: grid;
        grid-template-rows: 100px 1fr;
        color: #fff;
    }

        .hero::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('/pictures/imagen_inicio.png');
            background-size: cover;
            clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
            z-index: -1;
        }

    .nav {
        --padding-container: 0;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .nav__title {
        font-weight: 300;
    }
    .nav__img {
        display: block;
        width: 30px;
    }

    .hero__container {
        max-width: 800px;
        --padding-container: 0;
        display: grid;
        grid-auto-rows: max-content;
        align-content: center;
        gap: 1em;
        padding-bottom: 100px;
        text-align: center;
    }

    .hero__title {
        font-size: 3rem;
    }

    .hero__paragraph {
        margin-bottom: 20px;
    }

    .about {
        text-align: center;
    }

    .subtitle {
        color: var(--color-title);
        font-size: 2rem;
        margin-bottom: 40px;
    }


    .about__paragraph {
        line-height: 1.7;
    }

</style>



